<main role="main container" [@fadeIn]="'active'">

	<section class="jumbotron text-center">
		<div class="container mt-3 mb-3">
			<h1 class="jumbotron-heading">Kiwi Analytics</h1>
			<p class="lead text-muted">Kiwi Analytics provides insights into Bitcoin. Statistics on both actual market data and forecast are offered.</p>
			<p>
				<a [routerLink]="['/account/signin']" href="#" class="btn btn-primary my-2">Sign in</a>
				<a [routerLink]="['/account/register']" href="#" class="btn btn-secondary my-2">Register</a>
			</p>
		</div>
	</section>

	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<div class="am-chart" id="priceChart" style="height: 225px; width: 100%; display: block;"></div>
						<div class="card-body">
							<p class="card-text">Price chart of real-time BTC-USD price rates in different granularites.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<div class="am-chart" id="candleChart" style="height: 225px; width: 100%; display: block;"></div>
						<div class="card-body">
							<p class="card-text">Candle chart of BTC-USD price movements in different granularites.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<div class="am-chart" id="depthChart" style="height: 225px; width: 100%; display: block;"></div>
						<div class="card-body">
							<p class="card-text">Depth chart of the instantaneous placements of buyers and sellers.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>