/* You can add global styles to this file, and also import other style files */
@import './app/theme/theme.scss';

html, body, app-root, md-sidenav-container, .site {
  margin: 0;
  width: 100%;
  height: 100%;
}

.site {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

main {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}